.classe_div_painel_controle_num_usuarios{

font-size: 24px;
font-weight: bold;
text-align: center;
padding: 5px;
color: #0084b4;

word-break: break-all;
border-style: solid;
border-width: 1px;
border-color: #d0d7df;

}






















