.classe_div_campo_visitou_perfil{

min-height: 30px;
width: 100%;
padding: 4px;

text-align: right;
color: #8296ab;

margin-bottom: 2px;
margin-top: 25px;
background-color: #dfe4ea;

word-break: break-all;
border-style: solid;
border-width: 1px;
border-color: #d0d7df;
float: left;

}























