.classe_logotipo_sistema{

float: left;

}


.classe_imagem_rede_social{

width: 100%;
margin-bottom: 10px;

}


.classe_div_sobre_sistema_network{

padding-bottom: 5px;
margin-top: 8px;

}


.classe_div_sobre_sistema_network span{

font-size: 14px;
font-weight: bold;

}


.classe_imagem_logotipo_2{

width: 165px;
margin-bottom: 5px;

}


.classe_sobre_sistema{

text-align: center;

}


