.div_campo_anuncio_pagina{

background-color: #eff1f4;
float: left;
width: 35%;
height: 200px;
text-align: left;
padding: 1%;
color: #000000;
margin-bottom: 3%;

}








































