.div_campo_amizade{

margin-top: 5px;
margin-bottom: 1px;
width: 100%;

}


.div_opcoes_busca_amizade_usuario{

background-color: #eff1f4;
min-height: 35px;
padding: 1%;

font-weight: bold;

}


.span_opcoes_amizades{



}


.div_separa_amizade{

width: 65px;
min-height: 95px;
margin-left: 4px;
margin-top: 4px;
margin-bottom: 4px;
padding-top: 4px;
float: left;
text-align: center;

}






































