.campos_links_perfil{

margin-top: 6px;
float: left;
width: 100%;

}


.div_nome_usuario_bloco{

float: left;
width: 80%;
margin-top: 3px;
text-align: center;
word-wrap: break-word;
margin-left: 6px;

}


